*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
}
html,body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}
#main{
    width: 100%;
    height: 100vh;
}
.cursor{
    position: relative;
    width: 100px;
    height: 100px;
}
.cursor .circle{
    width: 100%;
    height: 100%;
    background: linear-gradient(#00d0ff,#ff005e);
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: -50%;
}